@model Solution.ViewModels.InstancesDecision.InstanceDecisionFormViewModel
@{
    ViewBag.Title = "Modifier InstanceDecision";
}

<div class="page-header-custom">
    <h2>Modifier InstanceDecision</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.InstanceDecisionId)
    @Html.Partial("_Form", Model)

    <div class="dashboard-card">
        <button type="submit" class="btn btn-success">Enregistrer</button>
        @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-default" })
    </div>
}

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
}