@model Solution.ViewModels.Genres.GenreDetailsViewModel

@{
    ViewBag.Title = "Supprimer un genre";
}

<div class="page-header-custom">
    <div class="row">
        <div class="col-md-8">
            <h2>Supprimer un genre</h2>
        </div>
        <div class="col-md-4 text-right" style="margin-top:25px;">
            @Html.ActionLink("Retour à la liste", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>

<div class="dashboard-card">
    <div class="alert alert-danger">
        <strong>Attention :</strong> cette action supprimera définitivement ce genre.
    </div>

    <table class="table table-bordered table-striped">
        <tr>
            <th style="width:220px;">ID</th>
            <td>@Model.GenreId</td>
        </tr>
        <tr>
            <th>Code</th>
            <td>@Model.CodeGenre</td>
        </tr>
        <tr>
            <th>Libellé</th>
            <td>@Model.Libelle</td>
        </tr>
    </table>

    @using (Html.BeginForm("Delete", "Genres", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.GenreId)

        <div class="text-right">
            @Html.ActionLink("Annuler", "Index", null, new { @class = "btn btn-default" })
            <button type="submit" class="btn btn-danger">
                <i class="fa-solid fa-trash"></i> Confirmer la suppression
            </button>
        </div>
    }
</div>