@model Solution.ViewModels.Comites.ComiteFormViewModel

<div class="dashboard-card">
    <div class="form-group">
        @Html.LabelFor(m => m.NumeroSource)
        @Html.TextBoxFor(m => m.NumeroSource, new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(m => m.NumeroSource, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NomComite)
        @Html.TextBoxFor(m => m.NomComite, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NomComite, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <div class="checkbox"><label>@Html.CheckBoxFor(m => m.EstActif) Actif</label></div>
        @Html.ValidationMessageFor(m => m.EstActif, "", new { @class = "text-danger" })
    </div>
</div>